<!--<div class="jumbotron">
    <h1 class="home-title text-center">Employee Portal</h1>
</div>-->
<div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12 home-container" style="text-align:center">

        <!--<img src="./assets/home_image.png" class="img-responsive" alt="">-->
        <div class="header">
            <h1 class="header-title">EMPLOYEE PORTAL</h1>
            <h2>
                One stop &ldquo;HR & Payroll&rdquo; solutions.

            </h2>
            <br>
            <div class="row">
                <div class="icon-wrapper col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2">

                    <div class="icon-group">
                        <i class="fa fa-address-card" aria-hidden="true"></i>
                        <div class="icon-text">
                            Personal Info
                        </div>
                    </div>

                    <div class="icon-group">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <div class="icon-text">
                            Add Employees
                        </div>
                    </div>

                    <div class="icon-group">
                        <i class="fa fa-cloud" aria-hidden="true"></i>
                        <div class="icon-text">
                            Cloud Based
                        </div>
                    </div>

                    <div class="icon-group">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <div class="icon-text">
                            Time Tracker
                        </div>
                    </div>
                    <div class="icon-group">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                        <div class="icon-text">
                            Payroll
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col-md-12 col-xs-12">
                    <button class="btn btn-lg btn-warning">Learn more!</button>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2 check-points-wrapper">
                    <div class="check-points">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div class="check-points-text">
                        Register new employees as your business grow!

                    </div>
                </div>
                <div class="col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2 check-points-wrapper">
                    <div class="check-points">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div class="check-points-text">
                        Safely save employees personal information.
                    </div>

                </div>

                <div class="col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2 check-points-wrapper">
                    <div class="check-points">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div class="check-points-text">
                        Cloud-based can be accessed from anywhere and any device!
                    </div>
                </div>
                <div class="col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2 check-points-wrapper">
                    <div class="check-points">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div class="check-points-text">
                        Clockin/Clockout system to keep track of employee's hours
                    </div>
                </div>
                <div class="col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2 check-points-wrapper">
                    <div class="check-points">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div class="check-points-text">
                        Save countless hours with the auto-payroll system!
                    </div>
                </div>

            </div>

        </div>

    </div>